In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one -1.307358  0.389468
1    a  two -1.247150 -1.212687
2    b  one -0.409053 -0.679882
3    b  two  1.001675 -0.049511
4    a  one  0.499109 -0.001489

In [2]:
# Series Groupby
display(df['data1'])
display(df['key1'])
df['data1'].groupby(df['key1']) #Series執行Groupby
df['data1'].groupby(df['key1']).mean()

0   -1.307358
1   -1.247150
2   -0.409053
3    1.001675
4    0.499109
Name: data1, dtype: float64

0    a
1    a
2    b
3    b
4    a
Name: key1, dtype: object

key1
a   -0.685133
b    0.296311
Name: data1, dtype: float64

In [3]:

df['data1'].groupby(df['key1']).agg(['mean', 'std'])

          mean       std
key1
a    -0.685133  1.026025
b     0.296311  0.997536

In [4]:
mean = df['data1'].groupby([df['key1'], df['key2']]).mean()
mean

key1  key2
a     one    -0.404125
      two    -1.247150
b     one    -0.409053
      two     1.001675
Name: data1, dtype: float64

In [5]:
mean.unstack().stack()

key1  key2
a     one    -0.404125
      two    -1.247150
b     one    -0.409053
      two     1.001675
dtype: float64

In [6]:
mean = df['data1'].groupby([df['key1'], df['key2']]).mean()
mean

key1  key2
a     one    -0.404125
      two    -1.247150
b     one    -0.409053
      two     1.001675
Name: data1, dtype: float64

In [7]:
mean.unstack().stack()

key1  key2
a     one    -0.404125
      two    -1.247150
b     one    -0.409053
      two     1.001675
dtype: float64