In [1]:
import numpy as np

scores = np.random.randint(50, 101,size=(50, 5))
scores

array([[ 56,  88,  94,  95,  65],
       [ 68,  90,  98,  63,  52],
       [ 73,  81,  57,  83,  80],
       [ 57,  79,  77,  84,  72],
       [ 84,  52,  89,  67,  55],
       [ 53,  90,  92,  60,  98],
       [ 55,  50,  77,  92,  62],
       [ 90,  56,  51,  55,  56],
       [ 90,  86,  64,  85,  68],
       [ 66,  92,  85,  83,  71],
       [ 84,  79,  73,  61,  79],
       [ 99,  86,  60,  74,  54],
       [ 52,  51,  82,  98,  76],
       [ 96,  59,  51,  60,  82],
       [ 75,  51,  79,  83,  97],
       [ 88,  95,  67,  88,  78],
       [ 51,  51,  85,  62,  55],
       [ 85,  71,  57,  98,  87],
       [ 77,  83,  69,  83,  55],
       [ 90,  55,  50,  58,  61],
       [ 76,  70,  83,  85,  90],
       [ 80,  65,  65,  85,  72],
       [ 92,  77,  93,  75,  52],
       [ 50,  98,  54,  88,  93],
       [ 50,  79,  54,  63, 100],
       [ 52,  86,  95,  63,  88],
       [ 54,  60,  85,  56,  54],
       [ 64,  63,  58,  55,  97],
       [ 62,  61,  73,  85,  96],
       [ 88,  66,  65,  58,  69],
       [ 88,  74,  68,  90,  68],
       [ 85,  59,  74,  54,  88],
       [ 82,  57,  69,  80,  89],
       [ 71,  74,  68,  90,  70],
       [ 52,  83,  90,  57,  57],
       [ 76,  66,  81,  53,  80],
       [ 70,  66,  65,  66,  88],
       [ 69,  53,  97,  88, 100],
       [ 59,  84,  63,  92,  83],
       [ 69,  74,  54,  68,  58],
       [ 65,  50,  94,  70,  66],
       [ 93,  73,  98,  80,  98],
       [ 60,  76,  53,  98,  51],
       [ 74,  88,  65,  86,  64],
       [ 71,  99,  96,  51,  94],
       [ 60,  85,  89,  87,  64],
       [ 78,  66,  62,  90,  72],
       [ 99,  84,  97,  87,  60],
       [ 93,  50,  63,  69,  80],
       [ 80,  64,  95,  97,  84]], dtype=int32)

In [2]:
import pandas as pd

df = pd.DataFrame(scores,
            index = [f"學生{i+1}" for i in range(50)],
            columns = ["國文","英文","數學","地理","歷史"]
)
df

      國文  英文  數學  地理   歷史
學生1   56  88  94  95   65
學生2   68  90  98  63   52
學生3   73  81  57  83   80
學生4   57  79  77  84   72
學生5   84  52  89  67   55
學生6   53  90  92  60   98
學生7   55  50  77  92   62
學生8   90  56  51  55   56
學生9   90  86  64  85   68
學生10  66  92  85  83   71
學生11  84  79  73  61   79
學生12  99  86  60  74   54
學生13  52  51  82  98   76
學生14  96  59  51  60   82
學生15  75  51  79  83   97
學生16  88  95  67  88   78
學生17  51  51  85  62   55
學生18  85  71  57  98   87
學生19  77  83  69  83   55
學生20  90  55  50  58   61
學生21  76  70  83  85   90
學生22  80  65  65  85   72
學生23  92  77  93  75   52
學生24  50  98  54  88   93
學生25  50  79  54  63  100
學生26  52  86  95  63   88
學生27  54  60  85  56   54
學生28  64  63  58  55   97
學生29  62  61  73  85   96
學生30  88  66  65  58   69
學生31  88  74  68  90   68
學生32  85  59  74  54   88
學生33  82  57  69  80   89
學生34  71  74  68  90   70
學生35  52  83  90  57   57
學生36  76  66  81  53   80
學生37  70  66  65  66   88
學生38  69  53  97  88  100
學生39  59  84  63  92   83
學生40  69  74  54  68   58
學生41  65  50  94  70   66
學生42  93  73  98  80   98
學生43  60  76  53  98   51
學生44  74  88  65  86   64
學生45  71  99  96  51   94
學生46  60  85  89  87   64
學生47  78  66  62  90   72
學生48  99  84  97  87   60
學生49  93  50  63  69   80
學生50  80  64  95  97   84

In [3]:
#透過欄的選取

df["國文"]
df["英文"]
df[["國文","英文"]]

      國文  英文
學生1   56  88
學生2   68  90
學生3   73  81
學生4   57  79
學生5   84  52
學生6   53  90
學生7   55  50
學生8   90  56
學生9   90  86
學生10  66  92
學生11  84  79
學生12  99  86
學生13  52  51
學生14  96  59
學生15  75  51
學生16  88  95
學生17  51  51
學生18  85  71
學生19  77  83
學生20  90  55
學生21  76  70
學生22  80  65
學生23  92  77
學生24  50  98
學生25  50  79
學生26  52  86
學生27  54  60
學生28  64  63
學生29  62  61
學生30  88  66
學生31  88  74
學生32  85  59
學生33  82  57
學生34  71  74
學生35  52  83
學生36  76  66
學生37  70  66
學生38  69  53
學生39  59  84
學生40  69  74
學生41  65  50
學生42  93  73
學生43  60  76
學生44  74  88
學生45  71  99
學生46  60  85
學生47  78  66
學生48  99  84
學生49  93  50
學生50  80  64

In [4]:
#透過index的索引值選取
df.iloc[0]
df.iloc[[0,1]]

     國文  英文  數學  地理  歷史
學生1  56  88  94  95  65
學生2  68  90  98  63  52

In [5]:
df.iloc[:5]
df.iloc[-5:]

      國文  英文  數學  地理  歷史
學生46  60  85  89  87  64
學生47  78  66  62  90  72
學生48  99  84  97  87  60
學生49  93  50  63  69  80
學生50  80  64  95  97  84

In [6]:
df

      國文  英文  數學  地理   歷史
學生1   56  88  94  95   65
學生2   68  90  98  63   52
學生3   73  81  57  83   80
學生4   57  79  77  84   72
學生5   84  52  89  67   55
學生6   53  90  92  60   98
學生7   55  50  77  92   62
學生8   90  56  51  55   56
學生9   90  86  64  85   68
學生10  66  92  85  83   71
學生11  84  79  73  61   79
學生12  99  86  60  74   54
學生13  52  51  82  98   76
學生14  96  59  51  60   82
學生15  75  51  79  83   97
學生16  88  95  67  88   78
學生17  51  51  85  62   55
學生18  85  71  57  98   87
學生19  77  83  69  83   55
學生20  90  55  50  58   61
學生21  76  70  83  85   90
學生22  80  65  65  85   72
學生23  92  77  93  75   52
學生24  50  98  54  88   93
學生25  50  79  54  63  100
學生26  52  86  95  63   88
學生27  54  60  85  56   54
學生28  64  63  58  55   97
學生29  62  61  73  85   96
學生30  88  66  65  58   69
學生31  88  74  68  90   68
學生32  85  59  74  54   88
學生33  82  57  69  80   89
學生34  71  74  68  90   70
學生35  52  83  90  57   57
學生36  76  66  81  53   80
學生37  70  66  65  66   88
學生38  69  53  97  88  100
學生39  59  84  63  92   83
學生40  69  74  54  68   58
學生41  65  50  94  70   66
學生42  93  73  98  80   98
學生43  60  76  53  98   51
學生44  74  88  65  86   64
學生45  71  99  96  51   94
學生46  60  85  89  87   64
學生47  78  66  62  90   72
學生48  99  84  97  87   60
學生49  93  50  63  69   80
學生50  80  64  95  97   84

In [8]:
import numpy as np
total = np.sum(df,axis=1)
mean = np.mean(df,axis=1)

In [9]:
df["總分"] = total
df["平均"] = mean

In [10]:
df

      國文  英文  數學  地理   歷史   總分    平均
學生1   56  88  94  95   65  398  79.6
學生2   68  90  98  63   52  371  74.2
學生3   73  81  57  83   80  374  74.8
學生4   57  79  77  84   72  369  73.8
學生5   84  52  89  67   55  347  69.4
學生6   53  90  92  60   98  393  78.6
學生7   55  50  77  92   62  336  67.2
學生8   90  56  51  55   56  308  61.6
學生9   90  86  64  85   68  393  78.6
學生10  66  92  85  83   71  397  79.4
學生11  84  79  73  61   79  376  75.2
學生12  99  86  60  74   54  373  74.6
學生13  52  51  82  98   76  359  71.8
學生14  96  59  51  60   82  348  69.6
學生15  75  51  79  83   97  385  77.0
學生16  88  95  67  88   78  416  83.2
學生17  51  51  85  62   55  304  60.8
學生18  85  71  57  98   87  398  79.6
學生19  77  83  69  83   55  367  73.4
學生20  90  55  50  58   61  314  62.8
學生21  76  70  83  85   90  404  80.8
學生22  80  65  65  85   72  367  73.4
學生23  92  77  93  75   52  389  77.8
學生24  50  98  54  88   93  383  76.6
學生25  50  79  54  63  100  346  69.2
學生26  52  86  95  63   88  384  76.8
學生27  54  60  85  56   54  309  61.8
學生28  64  63  58  55   97  337  67.4
學生29  62  61  73  85   96  377  75.4
學生30  88  66  65  58   69  346  69.2
學生31  88  74  68  90   68  388  77.6
學生32  85  59  74  54   88  360  72.0
學生33  82  57  69  80   89  377  75.4
學生34  71  74  68  90   70  373  74.6
學生35  52  83  90  57   57  339  67.8
學生36  76  66  81  53   80  356  71.2
學生37  70  66  65  66   88  355  71.0
學生38  69  53  97  88  100  407  81.4
學生39  59  84  63  92   83  381  76.2
學生40  69  74  54  68   58  323  64.6
學生41  65  50  94  70   66  345  69.0
學生42  93  73  98  80   98  442  88.4
學生43  60  76  53  98   51  338  67.6
學生44  74  88  65  86   64  377  75.4
學生45  71  99  96  51   94  411  82.2
學生46  60  85  89  87   64  385  77.0
學生47  78  66  62  90   72  368  73.6
學生48  99  84  97  87   60  427  85.4
學生49  93  50  63  69   80  355  71.0
學生50  80  64  95  97   84  420  84.0

In [11]:
five_df = df.iloc[:5]
five_df[five_df["總分"] >= 380]

     國文  英文  數學  地理  歷史   總分    平均
學生1  56  88  94  95  65  398  79.6

In [12]:

df[df['總分'] >= 380]

      國文  英文  數學  地理   歷史   總分    平均
學生1   56  88  94  95   65  398  79.6
學生6   53  90  92  60   98  393  78.6
學生9   90  86  64  85   68  393  78.6
學生10  66  92  85  83   71  397  79.4
學生15  75  51  79  83   97  385  77.0
學生16  88  95  67  88   78  416  83.2
學生18  85  71  57  98   87  398  79.6
學生21  76  70  83  85   90  404  80.8
學生23  92  77  93  75   52  389  77.8
學生24  50  98  54  88   93  383  76.6
學生26  52  86  95  63   88  384  76.8
學生31  88  74  68  90   68  388  77.6
學生38  69  53  97  88  100  407  81.4
學生39  59  84  63  92   83  381  76.2
學生42  93  73  98  80   98  442  88.4
學生45  71  99  96  51   94  411  82.2
學生46  60  85  89  87   64  385  77.0
學生48  99  84  97  87   60  427  85.4
學生50  80  64  95  97   84  420  84.0